
body {
    background: #EEE8AA;
    text-align: center;
    color: #fff;
}

#zoning5 {
    background: red;
	width: 1000px;
	margin: 0 auto;
}

#zoning5 header {
    background :#40A497;
    height: 80px;
}
#zoning5 nav {
    background: #9A40A4;
    height: 30px;
}

#zoning5 nav p{
	margin: 0;
}

#zoning5 section {
    background: red;
    height: 480px;
    margin: 20px;

}
#zoning5 .a {
    background: #40A497;
    height: 250px;
    float: left;
    width: 480px;
}

#zoning5 .b {
    background: #D69F1C;
    height: 250px;
    float: left;
    width: 480px;
}

#zoning5 .c {
    background: #B1B2D8;
    height: 250px;
    float: left;
    width: 480px;
}

#zoning5 .d {
    background: #007bff;
    height: 250px;
    float: left;
    width: 480px;
}

#zoning5 footer {
	background: #40A497;
    height: 60px;
}
