body {
    width: 1200px;
    margin:  auto;
    background-image: url(../img/concrete-texture.png);
}

.clear {
    clear: both;
}

section {
width: 600px;
background: lightblue;
float: left;
min-height: 500px;
text-align: center;
}

div {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 1200px;
    background: #f7e491;
}

footer {
background: lightgreen;
text-align: center;
height: 50px;
}

footer p {
    margin: 0;
}